:root {
}

.sidebarButton {
    flex-basis: 0%;
    flex-grow: 1;
    transition-property: translate;
    transition-duration: 0.5s;
    transition-timing-function: ease-in-out-circ;
    translate: -100% 0%;
}

#sidebar > #RadioButtonGroup > .unity-base-field__input > #contentContainer {
    height: 100%;
}

#sidebar:hover .sidebarButton {
    translate: 0% 0%;
}

#sidebar #RadioButtonGroup .unity-radio-button .unity-radio-button__input {
    justify-content: center;
}

#sidebar #RadioButtonGroup .unity-radio-button__input .unity-radio-button__checkmark-background {
    border-top-left-radius: 55px;
    border-top-right-radius: 55px;
    border-bottom-right-radius: 55px;
    border-bottom-left-radius: 55px;
    scale: 5 5;
    background-color: rgb(74, 181, 248);
    border-left-color: rgba(255, 255, 255, 0.41);
    border-right-color: rgba(255, 255, 255, 0.41);
    border-top-color: rgba(255, 255, 255, 0.41);
    border-bottom-color: rgba(255, 255, 255, 0.41);
}

#sidebar #RadioButtonGroup .unity-radio-button__input .unity-radio-button__checkmark-background #unity-checkmark {
    background-color: rgba(0, 0, 0, 0.38);
}

.unity-radio-button:selected {
    translate: 0% 0%;
}
