:root {
}

#RadioButtonGroup > .unity-base-field__input > #contentContainer {
    height: 100%;
}

.buttonPanel {
    flex-direction: row;
    width: 53%;
    align-self: flex-end;
}

.upgradeButton {
    align-self: center;
    width: 12%;
    height: 12%;
    margin-left: 88%;
    transition-property: margin-left;
    transition-duration: 0.3s;
    transition-timing-function: ease-in-out-sine;
}

.upgradeButton:selected {
    margin-left: 0%;
}

.upgradePanel {
    background-color: rgba(0, 0, 0, 0.78);
    flex-grow: 1;
}

#RadioButtonGroup > #Off {
    translate: 0% 0;
    position: absolute;
    height: 100%;
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 0;
    margin-left: 0;
    width: 44%;
    opacity: 0;
}

#RadioButtonGroup > #Off:selected {
    translate: -100% 0;
}

#RadioButtonGroup > .buttonPanel > .upgradeButton > .unity-radio-button__input {
    justify-content: center;
    scale: 5 5;
}

#RadioButtonGroup > .buttonPanel > .upgradeButton > .unity-radio-button__input > .unity-radio-button__checkmark-background {
    padding-top: 0;
    padding-right: 0;
    padding-bottom: 0;
    padding-left: 0;
    justify-content: center;
}

#RadioButtonGroup > .buttonPanel > .upgradeButton > .unity-radio-button__input > .unity-radio-button__checkmark-background > #unity-checkmark {
}
